<td-window-dialog
        [title]="'Create Diary Entry (FHIR Task)'"
        [toolbarColor]="'accent'"
        (close)="closed.emit()"
>
    <mat-card>
    <td-dynamic-forms #diaryForm [elements]="formElements" >

    </td-dynamic-forms>

        <mat-card-actions>
        <button mat-raised-button class="text-upper" (click)="closed.emit()">
            Cancel
        </button>
    <button mat-raised-button class="text-upper" (click)="ok($event)">
        Ok
    </button>
        </mat-card-actions>
    </mat-card>
</td-window-dialog>
