<td-window-dialog
        [title]="'Create Diary Entry'"
        [toolbarColor]="'accent'"
        [closeLabel]="'Close'"
        (closed)="closed.emit()"
>
    <td-dynamic-forms [elements]="numberElements">
        <ng-template let-element ngFor [ngForOf]="numberElements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
     <span *ngIf="control.touched || !control.pristine">
       <span *ngIf="control.hasError('min')">Min value: {{ element.min }}</span>
       <span *ngIf="control.hasError('max')">Max value: {{ element.max }}</span>
     </span>
            </ng-template>
        </ng-template>
    </td-dynamic-forms>
    <button mat-raised-button color="primary" class="text-upper">
        Toggle Loader
    </button>
</td-window-dialog>
