<mat-card>
   <!-- <h2>COVID-19 Vaccinations History</h2>
    <br/> -->


    <app-prescription-orders></app-prescription-orders>
    <app-gp-diary></app-gp-diary>
    <app-prescription-refill></app-prescription-refill>

    <br />
    <div>

        <td-file-input [(ngModel)]="files" color="primary" (select)="selectEvent($event)"
                       accept=".json,.xml">
            <mat-icon>attach_file</mat-icon><span>Choose a FHIR Bundle file...</span>
        </td-file-input>

    </div>
</mat-card>
