
<mat-menu #recordsMenu="matMenu">
    <button mat-menu-item routerLink="/tasks"><mat-icon>gavel</mat-icon>Task Manager</button>
    <button mat-menu-item routerLink="/medications"><mat-icon>sanitizer</mat-icon>Medications</button>
</mat-menu>
<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex
            sidenavTitle="Menu" >
        <mat-list>
        </mat-list>
        <span>
    </span>
    </td-navigation-drawer>
    <td-layout-nav-list navigationRoute="/" mode="side"  [opened]=opened>

        <div td-sidenav-content>
            stuff
        </div>
        <div td-toolbar-content layout="row" layout-align="start center" flex>

            <span>Codename: Danube</span>
            <span flex></span>

            <button mat-button disabled="true"  matTooltip="Orders"><mat-icon>add_shopping_cart</mat-icon>Basket</button>
            <button mat-icon-button [matMenuTriggerFor]="recordsMenu"><mat-icon>menu</mat-icon></button>
        </div>


        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Copyright &copy; 2021 Virtually Healthcare and Mayfield IS. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav-list>
</td-layout>
