<mat-card>
    <mat-card-header><h2>Active Prescription Orders</h2></mat-card-header>
    <table mat-table [dataSource]="dataSource"  width="100%">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="medications">
            <th mat-header-cell *matHeaderCellDef> Medications </th>
            <td mat-cell *matCellDef="let element">
                <ul>
                    <ng-template ngFor let-item [ngForOf]="element.input" let-i="index" >
                        <li>{{item.valueReference.display}}</li>
                    </ng-template>
                </ul>
            </td>
        </ng-container>

        <ng-container matColumnDef="pharmacy">
            <th mat-header-cell *matHeaderCellDef> Pharmacy </th>
            <td mat-cell *matCellDef="let element"> {{element.owner?.identifier.value}} </td>
        </ng-container>

        <ng-container matColumnDef="requester">
            <th mat-header-cell *matHeaderCellDef> Requester </th>
            <td mat-cell *matCellDef="let element"> {{element.requester.display}} </td>
        </ng-container>

        <ng-container matColumnDef="authored">
            <th mat-header-cell *matHeaderCellDef> Authored </th>
            <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.authoredOn, 'dd MMM yyyy') }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="order_number">
            <th mat-header-cell *matHeaderCellDef > Order No. </th>
            <td mat-cell *matCellDef="let element"> {{element.identifier[0].value}} </td>
        </ng-container>

        <ng-container matColumnDef="return_order">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="120"> Cancel </th>
            <td mat-cell *matCellDef="let element">
                <button color="warn" *ngIf="element.status == 'accepted'" mat-icon-button><mat-icon>remove_shopping_cart</mat-icon>Cancel</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="view_order">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="120"> View Order  </th>
            <td mat-cell *matCellDef="let element">
                <button color="accent" mat-icon-button (click)="view(element)" ><mat-icon>inventory</mat-icon>View Details</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="track_order">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="120"> Track Package  </th>
            <td mat-cell *matCellDef="let element">
                <button color="accent" mat-icon-button routerLink="/details/123453-ABCDFE-12345" ><mat-icon>local_shipping</mat-icon>Tracking</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
